<% layout('layouts/boilerplate') %>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet'>
<link rel="stylesheet" href="/stylesheets/index.css">

<div class="flash"><%- include('../partials/flash') %></div>
<h1>Welcome to the YelpCamp!</h1>
<p class="main-text">View our hand-picked campgrounds from all over the world, or add your own.</p>
<div id='map' class="main-map"></div>
<div class="content">
<% for(let campground of campgrounds) { %> 
        <div class="camp">
            <div class="img">
                <% if(campground.images.length){ %> 
                    <img src="<%=campground.images[0].url%>">
                    <% }else{ %> 
                        <img src="https://res.cloudinary.com/dutmy2j89/image/upload/v1640253651/YelpCamp/cljtalq879xjjukgoiih.jpg" class="img-fluid">
                    <% } %> 
            </div>
            <div class="text">
                <p id="camp-name"><%= campground.title %></p>
                <p><%= campground.description %></p>
                <a href="/campgrounds/<%=campground._id %>"><button>View Campground
                </button></a>
            </div>
        </div>
<% } %> 
</div>
<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campground = JSON.parse('<%-JSON.stringify(campgrounds)%>');
</script>
<script src="/javascripts/mainPageMap.js"></script>